<!doctype html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="fragments/layout/default"
        th:with="pageTitle='Home page'">
    <body>
        <div layout:fragment="heading">Security lab #8 - Email confirmation</div>
        <div layout:fragment="content">
            <div class="links">
                <a class="links__link" href="register">Create a new user</a>
                <a class="links__link" href="users">List of all users</a>
            </div>
        </div>
    </body>
</html>